
@{
    ViewData["Title"] = "Index";
}

<form method="get" action="Kaydet">
    <table>
        <tr>
            <td>Nesne Adı</td>
            <td>:</td>
            <td><input type="text" name="nesne_adi" /></td>
        </tr>
        <tr>
            <td>Kategori</td>
            <td>:</td>
            <td><input type="text" name="Kategori" /></td>
        </tr>
        <tr>
            <td>Yazarı/yönetmeni/sahibi/..</td>
            <td>:</td>
            <td><input type="text" name="kimeait" /></td>
        </tr>
        <tr>
            <td>Link</td>
            <td>:</td>
            <td><input type="text" name="link" /></td>
        </tr>

        <tr>
            <td colspan="3"><input type="submit" value="Kaydet" /></td>
        </tr>
    </table>
</form>

